<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
  </head>
  <body>
    <h1>You order status updated </h1>
    <%= @order.id %>
    <%= @order.status %>
    <%= @order.comment %>
    <p><small>I-Shop</small></p>
  </body>
</html>
