<div class="container">
  <%= @privet if @privet %>
  <h1>Products</h1>
  <%= render @products %>
  <div class="row justify-content-center">
    <%= will_paginate(@things, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer, class: 'pagination-sm') %>
  </div>
</div>
