// Place all the styles related to the products controller here..
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.my-img {
  max-width: 200px;
  max-height: 200px;
  border: 1px solid black;
  border-radius: 5px;
  margin: 0 10px 10px 10px;
}
.carousel-image {
  max-width: 500px;
  max-height: 500px;
  margin-left: auto;
  margin-right: auto;
  width: 6em;
}

.carousel-control-prev-icon {
 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}
