<div class="product border border-primary text-center">
<h2><%= link_to product.title, product_path(product) %></h2>
<p><%= product.category.title %></p>
<p><%=h truncate(product.description, :length => 25 ) %></p>
<%= link_to (fa_icon "shopping-cart", text: "buy"), root_path, class: "btn btn-outline-primary" %>
</div>
<br>
