<div class="container">
  <h1 class="text-center"><%= @product.title %></h1>
  <% @product.images.each do |image| %>
    <%= image_tag(image.url(:large)) %>
  <% end %>

  <% # image_tag @product.images.url(:large), class: "img-show" if @product.images? %>
  <p><%= @product.description %></p>
  <%= link_to (fa_icon "shopping-cart", text: "buy"), product_path(@product), class: "btn btn-outline-primary" %>
</div>
